.top-section {
    background-color: lightblue;
    min-height: 100vh;
}
.middle-section {
    background-color: lightcoral;
    min-height: 105vh;
}
.bottom-section {
    background-color:  lightslategrey;
    min-height: 100vh;
}
.section-title {
    padding: 1vh;
}
.headshot {
    max-height: 500px;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.displayGrid {
    display: grid;
}
.mainHeading {
    font-size: 3rem;
}
.mainBullets {
    font-size: 120%;
}